@font-face { 
    font-family: "TTLakes"; 
    src: url(./fonts/TTLakes-Regular.woff2); 
    font-weight: 400; 
    font-style: normal; 
    font-display: swap; 
} 
 
@font-face { 
    font-family: "TTLakes"; 
    src: url(./fonts/TTLakes-Medium.woff2); 
    font-weight: 500; 
    font-style: normal; 
    font-display: swap; 
} 
 
@font-face { 
    font-family: "TTLakes"; 
    src: url(./fonts/TTLakes-Bold.woff2); 
    font-weight: 700; 
    font-style: normal; 
    font-display: swap; 
} 
body {
    font-family: "TTLakes"; 
    font-weight: 400; 
    font-size: 16px;
    color: #7E7E82;
    
}
.brand-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    border-top: 2px solid #D9FFF5;
    background-color: #F8F8F8;
}


.brand-list__swiper {
display: flex;

height: auto;
margin: 0;
background-color: #F8F8F8;
overflow: hidden;

}

.brand-list__swiper-wrapper {
    box-sizing: content-box;
    padding-bottom: 36px;
    width: 100%;
        
}

.brand-list__swiper-slide {
    display: flex;   
    width: 240px; 
    
}

.brands {

    display: flex;
    align-items: center;
    height: 72px;
    width: 224px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #ffffff;
    margin-left: 16px;
    margin-top: 16px;
    position: relative;

}

.brands-button {
    height: 40px;
    width: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url("./img/dropdown.svg");
    background-repeat: no-repeat;
    background-position: center center;

}

.brand-list__swiper-pagination-bullet {
    background-color: #DDDDDD;
    width: 12px;
    height: 12px;

}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.brand-list__heading {
    margin: 0;
    padding: 16px 0 0 16px;
    font-weight: 400; 
    font-size: 16px;
    min-height: 50px;
    background-image: linear-gradient(90deg, #F8F8F8 85%, #ffffff 93%, #ffffff 100%)
    
}

.brand-list__button-show-more {
   
    border: none;
    background: none;
    display: flex;
    font-family: "TTLakes";
    font-weight: 500;
    font-size: 16px;
}

.brand-list__button-show-more:before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background-image: url("img/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.brand-list__button-show-more--clicked::before{
    transform: rotate(180deg);
  }



@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .brand-list__button-show-more, .brand-list__button-show-more:before {
        display: none;
    }

    .brand-list__swiper::after {
        content: "";
        width: 30px;
        height: 170px;
        background-image: linear-gradient(to left, #FFFFFF, #F8F8F8, transparent 100%);
        position: absolute;
        right: 0;
        z-index: 100;
    }


}

@media screen and (min-width: 768px) and (max-width: 1119.98px) {

    .brand-list__heading {
    padding: 16px 0 0 24px;
    }
    .brand-list__swiper-wrapper {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        max-height: 159px; 
        overflow-y: hidden;
        transition: all 1s 0.1s;
    }
   
    .swiper-pagination {
        display: none;  
    
    }

    .brand-list__swiper-wrapper--hidden {
        max-height: 100vh; 
      
       
    }

    
}   

@media screen and (min-width: 1120px) {
    .brand-list__heading {
    padding: 16px 0 0 36px;
    }
    
    .brand-list__swiper-wrapper {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        max-height: 159px; 
        overflow-y: hidden;
        transition: all 1s 0.1s;
}

.swiper-pagination {
    display: none;
}

.brand-list__swiper-wrapper--hidden {
    max-height: 100vh; 
}
.brand-list {
    max-width: 1056px;
    margin-left: auto;
    margin-right: auto;
}

}   
